@import '../utils/_variables.scss';
@import "../utils/mixins";

.exercises {
  &__container {
    @include list-container;
  }
  &__list {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
  &__item {
    display: grid;

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    img {
      width: 100px;
      height: 100px;
    }
  }
}

.filter {
  &__container {
    @include list-container;
    @include flex-column;
    gap: 30px;
  }

  &__list {
    @include flex-column;

  }

  &__item {
    &:hover {
      cursor: pointer;
    }
    &.active {
      background-color: rebeccapurple;
    }
  }
}

.searchbar {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 90%;
  background-color: $white;
  border-radius: 5px;
  i {
    color: $text;
    margin-left: 10px;
  }
  input {
    height: 40px;
    text-align: left;
    border: none;
    border-radius: 5px;
    outline: none;
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 140px;
  color: $white;
}